body {padding: 0;
    margin:0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("memphis-mini.png");}

nav.navbar {background-color:#f1f1f1;
box-shadow: 0 4px 8px 0 rgba( 0, 0,0, 0.2);
margin-bottom: 30px; }

nav.navbar::after {content: "";
    clear: both;
    display: table;
        }

div.name {float:left;
    background: rgb(100, 109, 190);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 200px;
    padding: 0 2px;}

nav {display: block;}

div {display: block;}

ul {float:right;
    list-style-type: none;}

ul > li {padding: 20px;
        display: inline-block;
        margin-left: 20px;}

ul > li a {text-decoration: none;
        color: black;
        ;}

ul > li:not(:last-child) {border-right: 1px solid red;}

div.wrapper {
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    box-sizing: border-box grey;
    background-color:palegoldenrod;}

div.section {width:960px;
    margin-top:5px;
    margin-left: 70px;
    margin-right: 50px;
    text-decoration: grey;
    border: grey;
    }

p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 35px;
    color: teal;
    text-align: left;
    text-decoration: underline grey;}

input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

footer {background-color: grey;
    color: whitesmoke;
    margin-top: 150px;
    float: right;
    width: 100%;
    text-align: center;}