body {background-image: url(memphis-mini.png);
margin-top:0;
padding-top:0;
margin-left:250px;
margin-right:250px;}

div#A {background-color:whitesmoke;
        display: inline-block;
        width:100%;
        white-space: nowrap;
        margin-top: 0;
        padding-top:0;
        border-bottom: 2px solid grey;
        height:200px;
         line-height:15px}

.header {font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: teal;
         color:whitesmoke;
        padding: 20px;
        content: normal;
        text-align:center;
        }

.nav_container {float: right;
                list-style:none;
                width:10%;
            vertical-align: top;
            margin-bottom: 600px;}

.B {align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;}

.p1 {border:  1px solid grey;}

.p2 {border: 1px solid grey;}

.button {background-color:lightblue;
        color:whitesmoke;
        text-align: center;
        margin-left: 350px;
        margin-right:350px;
        margin-top: 10px;}

footer {background-color: grey;
        color:whitesmoke;
        text-align: center;
        margin-top: 100px;}

