body {padding: 0;
    margin:0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/memphis-mini.png");}

nav.navbar {background-color:#f1f1f1;
box-shadow: 0 4px 8px 0 rgba( 0, 0,0, 0.2);
margin-bottom: 30px; }

nav.navbar::after {content: "";
    clear: both;
    display: table;
        }

div.name {float:left;
    background: rgb(100, 109, 190);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 200px;
    padding: 0 2px;}

nav {display: block;}

div {display: block;}

ul {float:right;
    list-style-type: none;}

ul > li {padding: 20px;
        display: inline-block;
        margin-left: 20px;}

ul > li a {text-decoration: none;
        color: black;
        ;}

ul > li:not(:last-child) {border-right: 1px solid red;}

div.wrapper {width:100%;
        margin: 0 auto;}

* {box-sizing: border-box;}

.row {display: table-row;
    flex-direction: column;
        align-items: center;
        margin: 0;}

.row::after{content:"";
            display: table;
            clear:both;}

.column {float: left;
        padding: 20px;
        display: block;
        margin-left: 30px;
        margin-bottom: 5px;
            }

.card {box-shadow: 0 4px 8px 0 rgba(red, green, blue, .2);
        padding:10px 5px; 
        text-align: center;
        background-color:grey;
}

div.img-div {height: 200px;
     width: 300px;
      margin: 0 auto;
        padding: 20px;}

h4 {display: block;
    margin-block-start: 40px;
    margin-block-end: 5px;}

p {display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    ;}

footer {background-color:#f1f1f1;
        width: 100%;
        text-align: center;
    color: grey;
    float: left;
    padding: 10px;}