body {background-color:#4aaaa5;
background-image:url(cork-board.png);
}


#header {font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:yellowgreen;
    float: left;
    font-size: large;
    color:whitesmoke;
    width: 100%;
    padding: 33px;
    margin: 20px;
    margin-top: auto;
    height: 30px;
    border-bottom: solid red;
    }

h3 {font-family: Arial, Helvetica, sans-serif;
    background-color:yellowgreen;
    float:right;
    float: inline-end;
    font-size:small;
    color:whitesmoke;
    width: 50px;
    padding: 33px;
    margin:20px;
    margin-top: auto;
    margin-bottom: 90px;
    height: 50px
    ;}

.div1 {background-color: green
    height:200px;
    width: 100%;
    ;}

.aboutmetab {font-family:Arial, Helvetica, sans-serif;
    background-color:orchid;
    text-align: center;
 color:brown;
    width:60px;
    padding:50px;
    margin:25px;
    margin-top: 100px;
    height: 50px;
    float:inline-start
    ;}

img {height: 150px;
    width:150px;
    margin-bottom: auto;
    ;}

.clearfix::after {
        content: " ";
        display: block;
        clear: both;
      }

.div2 {padding:33px;
      }
      
p {font-family: 'Times New Roman', Times, serif;
    text-align:center;
    float: right;
    color:black;
    background-color:white;
    box-sizing: border-box;
    margin-right:200px;
    margin-bottom: 200px;
    height:300px;
    width: 960px;
    padding: 100px
    ;}

footer {font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    background-color:grey;
    width: 100%;
    text-align:center;
    height:25px;
    flex-shrink: 0;
    margin-top:40%;
    ;}